<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
		<Property name="logPath">../logs</Property>
		<Property name="rollingFileName">plusyoursoftech-utilities</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="File-DEBUG" fileName="${logPath}/${rollingFileName}-debug.log" filePattern="${logPath}/${rollingFileName}-debug-%d{MM-dd-yyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="File-INFO" fileName="${logPath}/${rollingFileName}-info.log" filePattern="${logPath}/${rollingFileName}-info-%d{MM-dd-yyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>


        <RollingFile name="File-ERROR" fileName="${logPath}/${rollingFileName}-error.log" filePattern="${logPath}/${rollingFileName}-error-%d{MM-dd-yyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>
		        <RollingFile name="ALL" fileName="${logPath}/${rollingFileName}.log" filePattern="${logPath}/${rollingFileName}-%d{MM-dd-yyyy}.log"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy/>
            <Filters>
                <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
				<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
		
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="File-INFO"/>
            <AppenderRef ref="File-ERROR"/>
            <AppenderRef ref="File-DEBUG"/>
			<AppenderRef ref="ALL"/>
			<AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>